<div class="header">
	<% if user_signed_in? %>

		<%= link_to user_path(current_user.id),class:"btn header-link" do %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>マイページ
		<% end %>
		<%= link_to blogs_path,class:"btn header-link" do %>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>ブログ一覧
		<% end %>

		<%= link_to new_blog_path,class:"btn header-link" do %>
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>投稿画面
		<% end %>

		<%= link_to destroy_user_session_path ,method: :delete,class:"btn header-link" do %>
			<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>Log out
		<% end %>

	<% else %>
		<%= link_to "ブログ一覧" ,blogs_path,class: "btn btn btn-success",class:"btn header-link" %>
		<%= link_to "ログイン",  new_user_session_path,class:"btn header-link" %>
		<%= link_to "新規登録",  new_user_registration_path ,class:"btn header-link" %>
	<% end %>
</div>

  <P>検索</P>
  <%= form_tag(search_path,:method => "get") do %>
    <%= text_field_tag :seach_content %>
    <%= select_tag :search_model, options_for_select([["User","user"],["Blog","blog"]]) %>
    <%= submit_tag "検索" %>
  <% end %>