<div class="header">
	<% if user_signed_in? %>
		<ul class="header-link-box">
				<%= link_to user_path(current_user.id), class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>マイページ
				<% end %>

				<%= link_to blogs_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>ブログ一覧
				<% end %>

				<%= link_to new_blog_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>投稿画面
				<% end %>

				<%= link_to search_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span></span></span>検査
				<% end %>

				<%= link_to destroy_user_session_path ,method: :delete, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>Log out
				<% end %>


			<% else %>
				<%= link_to blogs_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> ブログ一覧
				<% end %>

				<%= link_to search_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span></span></span>検査
				<% end %>

				<%= link_to new_user_session_path, class:"btn btn-primary header-link" do %>
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> ログイン
				<% end %>
			<% end %><br>
		</ul>
	<h1>TRAVAL DIARY</h1>
	<p>You only live once</p>
</div>