<header>
	<div class="header">


　		<nav class="global-nav">
    		<% if user_signed_in? %>
			<ul class="-link-box">
				<li class="global-nav__item"><%= link_to new_blog_path, class:"btn btn-primary header-link" do %>
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>投稿画面
					<% end %></li>
				<li class="global-nav__item"><%= link_to blogs_ranks_path, class:"btn btn-primary header-link" do %>
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>いいねランキング
				<li class="global-nav__item"><% end %></li>
				<li class="global-nav__item"><%= link_to destroy_user_session_path ,method: :delete, class:"btn btn-primary header-link" do %>
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>Log out
					<% end %></li>

			<% else %>
				<li class="global-nav__item"><%= link_to blogs_ranks_path, class:"btn btn-primary header-link" do %>
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>いいねランキング
				<li class="global-nav__item"><% end %></li>
				<li class="global-nav__item"><%= link_to new_user_registration_path, class:"btn btn-primary header-link" do %>
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 新規登録
					<% end %></li>
			<% end %><br>
			</ul>
　		</nav>
  		<div class="hamburger" id="js-hamburger">
    		<span class="hamburger__line hamburger__line--1"></span>
    		<span class="hamburger__line hamburger__line--2"></span>
   			<span class="hamburger__line hamburger__line--3"></span>
  		</div>
 		 <div class="black-bg" id="js-black-bg"></div>
	</div>

	<div class="header-text">
		<h1>TRAVEL DIARY</h1>
		<p>You only live once</p>
	</div>

	<!-- ログイン中のヘッダー表示 -->
	<% if user_signed_in? %>
		<%= link_to user_path(current_user.id), class:"btn btn-primary header-link" do %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>マイページ
		<% end %>

		<%= link_to blogs_path, class:"btn btn-primary header-link" do %>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>ブログ一覧
		<% end %>
			<!-- 検索フォーム -->
		<div class="header-search">
			<%= form_tag(search_path,:method => "get") do %>
				<%= text_field_tag :seach_content %>
				<%= select_tag :search_model, options_for_select([["User","user"],["Blog","blog"]]) %>
				<%= select_tag :search_method,options_for_select([["前方一致","forward"],["後方一致","backward"],["完全一致","perfect",],["部分一致","partial"]]) %>
				<%= submit_tag "検索" %>
			<% end %>
		</div>
	<!-- ログアウト中のヘッダー表示 -->
	<% else %>
		<%= link_to blogs_path, class:"btn btn-primary header-link" do %>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> ブログ一覧
		<% end %>
		<%= link_to new_user_session_path, class:"btn btn-primary header-link" do %>
			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> ログイン
		<% end %>
			<!-- 検索フォーム -->
		<div class="header-search">
			<%= form_tag(search_path,:method => "get") do %>
				<%= text_field_tag :seach_content %>
				<%= select_tag :search_model, options_for_select([["User","user"],["Blog","blog"]]) %>
				<%= submit_tag "検索" %>
			<% end %>
		</div>
	<% end %>
</header>























