<!-- トップへスクロールさせる為のクラス -->
<div class="js-section">
	<a id="btn-backtotop"><span class="arrow arrow_up"></span></a>
</div>

<!-- ヘッダー -->
<div class="blog-header">
	<%= render "blogs/header",user: @user %>
</div>


<div class="blog-center blog-index-title">
	<!-- サクセスメッセージ -->
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "#{key}") %>
	<% end %>

	<!-- Blog見出し文字 -->
	<% if params[:category] %>
		<h1><%= @category %>一覧</h1>
			<p class="blog-hover-text">皆んなが投稿した<br><%= params[:category] %>のBlog記事!!<br>
				<% if user_signed_in? %>
					あなたも沢山投稿して思い出を残そう!!
				<% end %>
			</p>
	<% else %>
		<h1>Blog一覧</h1>
			<p class="blog-hover-text">皆んなのBlog記事!!<br>
				<% if user_signed_in? %>
					あなたも沢山投稿して思い出を残そう!!
				<% end %>
			</p>
	<% end %>
</div>

<div class="blog-main">

	<!-- カテゴリー -->
	<div class="blog-side-right">
		<div class="category-box">
			<h3>カテゴリー</h3>
			<div class="category-box-h4">
				<% @categories.each do |category| %>
					<h4><%= link_to category[0], blogs_path(:category => category[0]) %></h4>
				<% end %>
			</div>
		</div>
	</div>
	<div class="blog-center">

					<!-- ユーザーが投稿したブログ内容をeach文を回していく -->
				<% @blogs.each do |blog| %>
					<div class="blog-index-box">
						<%= link_to user_path(blog.user) do %>
						<%= attachment_image_tag blog.user, :profile_image, :fill, 100, 100 ,fallback: "unnamed.gif",size:'100x100',class:"img-photo" %>
						<% end %>
						<strong>Name:<%= link_to blog.user.name ,user_path(blog.user) %></strong><br>

						<!-- キャリアウエーブの使用上、「image_url」で画像が表示される -->
						<!-- 「if bi.image_url」は「bi.image_urlが」ある時だけ表示。エラーを防ぐため -->
						<div class="blog_slick">
							<% blog.images.each do |bi| %>
								<%=  link_to bi.image.url, 'data-lightbox': bi.image do %>
									<%= image_tag(bi.image_url, size:'300x200' ,class:"blog_slick-image") if bi.image_url %>
								<% end %>
							<% end %>
						</div>

						<!-- ブログ内容 -->
						<strong class="blog-title"><%= blog.title %></strong><br>
						<div id="links_buttons_<%= blog.id %>">
							<% if user_signed_in? %>
								<%= render partial: "blogs/link", locals: {blog: blog} %>
							<% end %>
						</div>
						<%= blog.comments.count %>コメント<br>
						<%= link_to "ブログの記事を見る", blog_path(blog),data: {"turbolinks" => false}, class:"btn btn-primary" %><br>
							<!-- enumのキーを渡している -->
							Category:<%= link_to blog.category_i18n ,blogs_path(:category => blog.category)
							%>
					</div>
				<% end %>
				<div class="kaminari">
					<%= paginate @blogs, class: "paginate " %>
				</div>

	</div>
</div>






























