<!-- トップへスクロールさせる為のクラス -->
<div class="js-section">
	<a id="btn-backtotop"><span class="arrow arrow_up"></span></a>
</div>


<!-- ヘッダー -->
<div class="admin-header">
	<%= render "admin/items/admin_header" %>
</div>




<div class="item-index-box">
	<!-- サクセスメッセージ -->
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "#{key}") %>
	<% end %>

	<div class="item-headline clearfix">
		<h1>商品一覧</h1>
	</div>


	<table class="table">
		<tr>
			<th>商品画像</th><th>商品名</th><th>商品説明</th><th>値段(税込)</th><th></th><th></th>
		</tr>

		<% @items.each do |f| %>
			<tr>
				<td><%= link_to item_path(f) do %>
						<%= attachment_image_tag f, :item_image %>
					<% end %>
				</td>
				<td><h2><%= f.product %></h2></td>
				<td><%= f.explanation %></td>
					<% total_price = (BigDecimal(f.price)*(f.tax)).ceil %>
				<td><%= converting_to_jpy(total_price) %>
				<td><%= link_to "詳細画面", admin_item_path(f), class:"btn btn-primary" %></td>
				<td><%= link_to "削除する", admin_item_path(f),method: :delete,"data-confirm" => "本当に削除しますか？",class:"btn btn-danger" %></td><br>
			</tr>
		<% end %>
	</table>

	<!-- kaminari -->
	<div class="items-kaminari">
		<%= paginate @items, class: "paginate" %>
	</div>

</div>















