<div class="main">
<div class="container">
	<div class="row">
		<div class="col-lg-5">

		<!-- ユーザーのプロフィール情報 -->
<% if params[:search_model] == "user" %>

	<% @users.each do |user| %>
		<div class="show-box2">
			<%= attachment_image_tag user, :profile_image, :fill, 200, 200 ,fallback: "unnamed.gif",size:'200x200',class:"img-photo" %><br>

			<strong>Name</strong><br>
			<%= link_to user.name ,user_path(user)  %><br>

			<strong>Introduction</strong><br>
			<%= user.introduction %><br>
		</div>
	<% end %>



<% elsif params[:search_model] == "blog" %>

		<div class="blog_slick">
			<% @blogs.each do |blog| %>
					<%= attachment_image_tag blog.user, :profile_image, :fill, 100, 100 ,fallback: "unnamed.gif",size:'100x100',class:"img-photo" %>
					<%= link_to blog.user.name ,user_path(blog.user) %><br>
<!-- キャリアウエーブの使用上、「image_url」で画像が表示される -->
<!-- 「if bi.image_url」は「bi.image_urlが」ある時だけ表示。エラーを防ぐため -->
				<% blog.images.each do |bi| %>
					<%= image_tag(bi.image_url, size:'300x200') if bi.image_url %>
				<% end %><br>

<!-- ブログ内容 -->
					<strong><%= blog.title %></strong><br>
					<%= link_to "ブログの記事を見る", blog_path(blog),data: {"turbolinks" => false} %><br>
					<div id="links_buttons_<%= blog.id %>">
						<%= render partial: "blogs/link", locals: {blog: blog} %>
						<%= blog.comments.count %>コメント<br>
					</div>
				<div class="index-box-bottom">
				</div>
			<% end %>

<% end %>
			</div>
		</div>
	</div>
</div>
</div>
