<% unless current_user == user %>

	<% if current_user.following?(user) %>
		<%= form_for(current_user.relationships.find_by(follow_id: user.id), url: relationship_path(current_user.id), method: :delete, remote: true) do |f| %>
			<%= hidden_field_tag :follow_id, user.id %>
			<%= f.submit "フォローを外す", class: "btn btn-danger" %>
		<% end %>
	<% else %>
		<%= form_for(current_user.relationships.build, remote: true) do |f| %>
			<%= hidden_field_tag :follow_id, user.id %>
			<%= f.submit "フォローする",class: "btn btn-primary" %>
		<% end %>
	<% end %>

<% end %>

<!-- フォロー数、フォロワー数 -->
<%= link_to following_user_path(user) do %>
	<span>フォロー数<%= user.followings.count %>人</span>
<% end %>/
<%= link_to follower_user_path(user) do %>
	<span>フォロワー数<%= user.followers.count %>人</span>
<% end %>