<!-- トップへスクロールさせる為のクラス -->
<div class="js-section">
	<a id="btn-backtotop"><span class="arrow arrow_up"></span></a>
</div>

<!-- ヘッダー -->
<div class="follows-header">
	<%= render "blogs/header",user: @user %>
</div>


<div class="follows-box">
	<h3>フォロワー数<%= @user.followers.count %>人</h3>

		<div class="follows-box2">
			<% @user.followers.each do |f| %>
				<div class="follows-form">
					<%= link_to user_path(f) do %>
						<%= attachment_image_tag f, :profile_image, :fill, 200, 200 ,fallback: "unnamed.gif",size:'100x100',class:"img-photo" %>
					<% end %><br>

					<strong>Name</strong><br>
						<%= f.name %><br>

					<!-- フォローボタン -->
					<div id="follow_form<%= f.id %>">
						<%= render "users/follower",user: @user, f: f %>
					</div>

					<%= f.introduction %><br>
				</div>
				
			<% end %>
		</div>
</div>